.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.attribute .label {
  text-align: center;
  font-weight: 600;
  color: var(--text-secondary);
}

.attribute .text-input {
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.attribute .computed-text {
  text-align: center;
}