.grid {
  display: grid;
  gap: var(--gap);
  align-items: stretch;
}

.row {
  display: contents;
}

.sub-grid-wrapper {
  padding: var(--padding-base);  
}

.sheet-cell {
  display: block;
  align-self: stretch;
  padding: 0%;
}

.sheet-cell>* {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
