#app {
  padding: 24px 10vw;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  background: #f3f4f6;
  min-height: 100vh;

  h1 {
    margin-bottom: 12px;
    color: var(--primary-color);
  }
}
