:root {
  --primary-color: #0B6EFD;
  --secondary-color: #6C757D;
  --background: #F7F8FA;
  --surface: #FFFFFF;
  --text-primary: #111827;
  --text-secondary: #6B7280;

  --border-color: #a5a7aB;

  --border-width: 1/16rem;
  --border-radius: 0;
  --border-bottom: 1px solid var(--border-color);
  --padding-base: 0.5rem;
  --gap: 0.5rem;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  --control-size: 1.125rem; /* default control size (approx 18px) */
}
