.base-component {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: var(--surface);
  color: var(--text-primary);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: inherit;
  box-shadow: var(--shadow);
}

.base-component .label {
  font-weight: 600;
  font-size: small;
  color: var(--text-secondary);
  margin-bottom: 1px;
}

.no-bg {
  background: transparent;
  box-shadow: none;
  border: none;
}

.base-component[aria-disabled="true"] {
  opacity: 0.6;
  pointer-events: none;
}
