.text-input {
  width: 100%;
  background: var(--background);
  box-sizing: border-box;
  padding: var(--padding-base);
  border: var(--border);
  border-bottom: var(--border-bottom);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  padding-bottom: .25em;

  &:disabled {
    opacity: 0.6;
  }

  /* hide number input spin buttons */
  &[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }
}

