.text-input {
  --font-size: 1rem;
  --background: transparent;
  --border: none;
  --border-radius: 0;

  width: 100%;
  background: var(--background);
  box-sizing: border-box;
  padding: var(--padding-base);
  border: var(--border);
  border-bottom: var(--border-bottom);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  padding-bottom: .25em;

  &:disabled {
    opacity: 0.6;
  }
}

