.list-field {
  --gap-right: 0.5rem;
  --gap-between-items: 0.25rem;
  --add-btn-padding: 0.25rem 0.5rem;
}

.list-all-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-items);
}

.list-item {
  display: flex;
  align-items: center;
  grid-column: span 1;
  justify-content: space-between;
  gap: var(--gap-right);
}

.remove-btn {
  background: transparent;
  /* border: none; */
  color: var(--text-secondary);
  font-size: 1.2rem;
  cursor: pointer;
}

.list-add {
  display: flex;
  align-items: center;

  button {
    padding: var(--add-btn-padding);
    margin-top: var(--gap-between-items);
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background: var(--surface);
  }
}