.attribute{
  --input-font-size: 1.25rem;

  --focus-color: blue;
  --focus-border-width: 2px;
  --focus-box-shadow: 0 0 0 4px var(--focus-color);
  --focus-outline: none;
}

.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.attribute .label {
  text-align: center;
  font-weight: 600;
  color: var(--text-secondary);
}

.attribute .text-input {
  text-align: center;
  border-radius: 50%;
  border: 2px solid var(--text-secondary);
  width: 72px;
  height: 72px;
  transition: box-shadow .12s ease, border-width .12s ease, border-color .12s ease;
}

.attribute .text-input:focus-within {
  outline: var(--focus-outline);
  border-width: var(--focus-border-width);
  border-color: var(--focus-color);
  box-shadow: var(--focus-box-shadow);
}

.attribute .computed-text {
  text-align: center;
}