.attribute {
  --input-font-size: 1em;
  --input-width: 4em;
  --input-height: 4em;
  --input-border-radius: 50%;
  --input-border: 0.125em solid var(--text-secondary);
  --transition-duration: 0.12s;
  
  --focus-color: blue;
  --focus-border-width: 0.125em;
  --focus-box-shadow: 0 0 0 0.25em var(--focus-color);
  --focus-outline: none;
}

.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}

.attribute .label {
  text-align: center;
  font-weight: 600;
  color: var(--text-secondary);
}

.attribute .text-input {
  font-size: var(--input-font-size);
  text-align: center;
  border-radius: var(--input-border-radius);
  border: var(--input-border);
  width: var(--input-width);
  height: var(--input-height);
  transition: box-shadow var(--transition-duration) ease, border-width var(--transition-duration) ease, border-color var(--transition-duration) ease;
}

.attribute .computed-text {
  text-align: center;
  background-color: transparent;
  border: none;
  min-height: 0;
  width: inherit;
  margin: 0;
  padding: 0;
  margin-left: -0.5ch; /* adjust for centering with number sign*/
}

.attribute .text-input:focus-within {
  outline: var(--focus-outline);
  border-width: var(--focus-border-width);
  border-color: var(--focus-color);
  box-shadow: var(--focus-box-shadow);
}

.attribute .computed-text {
  text-align: center;
}